.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Graphik-Medium';
  height: 56px;
  padding: 0 24px;
  background-color: #3acc8a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: medium;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #2abc7a;
}

.btn:active,
.btn:focus {
  outline: none;
}
