.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: url('background.svg') center no-repeat;
  background-size: cover;
  padding: 16px;
}

.backgroundGif {
  position: absolute;
  width: 80vw;
  transform: rotate(10deg);
  opacity: 0.2;
}
